<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sync_time_interval_ms" value="20000" />
    <add key="erp_type" value="sap" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="base_url" value="http://sap-s4q.siminn.is:8000/siminn/agr" />
    <add key="ax_oauth_token_url" value="https://login.windows.net/fortnumandmason.co.uk/oauth2/token" />
    <add key="client_key" value="1a913c94-5b81-450c-8aeb-6ab31e2e4ece" />
    <add key="client_secret" value="QUdSOkE1ZzZyN192b3I=" />                                    
    <!--<add key="client_secret" value="CgIj2+R41r28DOmKOWR34nONlHKLmItbvfJME/JtPpQ=" />-->
    <add key="StandardServiceGroup" value="AGRStandardServiceGroup" />
    <add key="run_as_username" value="smurf" />
    <add key="run_as_password" value="dwarf" />
    <add key="use_security_tsl" value="true" />
    <add key="includesFashion" value="true" />
    <add key="includeBAndM" value="true" />
    <add key="DataAreaId" value="fam" />
    <add key="SendEmail" value="OnError" /> <!-- The options are Always, OnError and Never-->
    <add key="NotificationEmailAddresses" value="dadiarna@gmail.com" />
    <add key="fixedEndPointFilter" value ="?sap-client=030&amp;sap-language=IS"/>
    <!--   <add key="base_url" value="https://agrd365v813pu237eb992126fc77bc5devaos.cloudax.dynamics.com" />
    <add key="ax_oauth_token_url" value="https://login.windows.net/reynd.is/oauth2/token" />
    <add key="client_key" value="4d2a3c5d-7e63-40a8-9c37-c8769b1c5af3" />
    <add key="client_secret" value="ux9EdHfwYhMIwhN17Bsks6qdZ6Di9pSS6pNYjAmMzCg=" />
    <add key="DataAreaId" value="usrt" />

    <add key="base_url" value="https://fmd365uat01.sandbox.operations.dynamics.com" />
    <add key="ax_oauth_token_url" value="https://login.windows.net/fortnumandmason.co.uk/oauth2/token" />
    <add key="client_key" value="435d80c4-cc51-4153-8e80-d4006f218f30" />
    <add key="client_secret" value="0nYWZ+6wEpLiz9Lupn7AXg3Plv+2DiByGk3pXlelx7U=" />
    <add key="DataAreaId" value="fam"/>
    -->
</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.4.30215" newVersion="7.5.4.30215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.4.30215" newVersion="7.5.4.30215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="stg_connection" connectionString="server=SIMI-AGR-SQLD01;database=agr5_stg;Integrated Security=true;" />
    <add name="prod_connection" connectionString="server=SIMI-AGR-SQLD01;database=agr5_prod;Integrated Security=true" />
  </connectionStrings>
</configuration>
