<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sync_time_interval_ms" value="20000" />
    <add key="erp_type" value="ax" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ax_base_url" value="https://agrax365u112607a2925fd05c1ddevaos.cloudax.dynamics.com" />
    <add key="ax_oauth_token_url" value="https://login.windows.net/reynd.is/oauth2/token" />
    <add key="ax_client_key" value="4d2a3c5d-7e63-40a8-9c37-c8769b1c5af3" />
    <!--<add key="ax_client_secret" value="px8O9/yP1alySqXxYBtHgKo2LdRlBYBJCr1mio/Quns=" />-->
    <add key="ax_client_secret" value="px8O9/yP1alySqXxYBtHgKo2LdRlBYBJCr1mio/Quns=" />
    <add key="StandardServiceGroup" value="AGRStandardServiceGroup" />
    <add key="run_as_username" value="smurf" />
    <add key="run_as_password" value="dwarf" />
    <add key="use_security_tsl" value="true"/>
    <add key="includesFashion" value="false"/>
    <add key="includeBAndM" value="true"/>
    <add key="DataAreaId" value="USRT"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="stg_connection" connectionString="server=localhost;database=agr5_STG_KUF2;Integrated Security=true" />
    <add name="prod_connection" connectionString="server=localhost;database=agr5_KUF2;Integrated Security=true" />
  </connectionStrings>
</configuration>